services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - flag-states
    ports:
      - 5001:5001
      - 8081:8081

  flag-management:
    build: ./services/flag-management
    ports:
      - 5000:5000
    environment:
      - JWT_SIGNING_SECRET_FILE=/run/secrets/jwt_signing_secret
      - SERVICE_PORT=5000
      - APIKEY_FILE=/run/secrets/apikey_mgt
      - STALE_FLAG_DAYS=20
      - SUPERADMIN_PASSWORD_FILE=/run/secrets/superadmin_password
      - DEFAULT_USER_PASSWORD_FILE=/run/secrets/default_user_password
      - SUPERADMIN_EMAIL=boss@plainflags.com
      - DASHBOARD_PASSKEY_FILE=/run/secrets/dashboard_passkey
      - DEMO_MODE=true
    secrets:
      - jwt_signing_secret
      - superadmin_password
      - default_user_password
      - apikey_mgt
      - dashboard_passkey
    volumes:
      - db-data:/data/:rw

  flag-states:
    build: ./services/flag-states
    environment:
      - SERVICE_PORT=5001
      - APIKEY_FILE=/run/secrets/apikey_states
      - CACHE_TTL=1000
    secrets:
      - apikey_states
    volumes:
      - db-data:/data:ro
    depends_on:
      - flag-management
    deploy:
      replicas: 10

  flags-dashboard:
    build: ./dashboard
    ports:
      - 3000:3000   # Access the dashboard at port 3000 on the host

secrets:
  jwt_signing_secret:
    file: ./.secrets/jwt.secret.txt
  superadmin_password:
    file: ./.secrets/password.super.txt
  default_user_password:
    file: ./.secrets/password.user.txt
  apikey_states:
    file: ./.secrets/apikey.states.txt
  apikey_mgt:
    file: ./.secrets/apikey.mgt.txt
  dashboard_passkey:
    file: ./.secrets/dashboard.passkey.txt

volumes:
  db-data: